---

---

<section class="about-race py-12 px-4 md:px-4 bg-white">
    <div class="max-w-6xl mx-auto">
        <h1
            class="text-2xl md:text-3xl font-bold text-center text-blak mb-8"
        >
            ¡Únete a la segunda edición de la 15K URRAO 2025!
    </h1>

        <div class="grid md:grid-cols-2 gap-8 items-center ">
            <div class="space-y-6 rounded-md shadow-xl border-primary-500  border-2 p-4">
                <p class="text-lg text-gray-700 leading-relaxed">
                    El 12 de octubre de 2025, Urrao, Antioquia, será nuevamente
                    el escenario de la 15K URRAO, una carrera que nació en 2024
                    para fomentar el deporte, los hábitos saludables y la
                    conexión con la naturaleza.
                </p>
                <p class="text-lg text-gray-700 leading-relaxed">
                    Tras el éxito de su primera edición, este evento se
                    consolida como una experiencia única, con distancias de 10 y
                    15 kilómetros en los que se ven paisajes impresionantes,
                    como valle del río Penderisco y el majestuoso Páramo del
                    Sol.
                </p>
                <p class="text-lg text-gray-700 leading-relaxed">
                    Organizada sin ánimo de lucro, la carrera busca promover el
                    running, fortalecer el sentido de comunidad y visibilizar la
                    riqueza natural y cultural de Urrao. ¡Únete a esta gran
                    aventura y sé parte de un evento que deja huella en el
                    corazón de todos!
                </p>
            </div>

            <div
                class="relative h-full rounded-lg overflow-hidden shadow-xl"
            >
                <img
                    src="/og-image.jpg"
                    alt="Paisaje de Urrao"
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
    </div>
</section>
