<section class="w-full flex flex-row items-center justify-center">
    <div>
        <h1>Siguenos en Instagram</h1>
    </div>
    <div class="insta-embed">
        <blockquote
            class="instagram-media"
            data-instgrm-captioned
            data-instgrm-version="6"
            style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
            <div style="padding:8px;">
                <p style=" margin:8px 0 0 0; padding:0 4px;">
                    <a
                        href="https://www.instagram.com/p/BEbuxyvm3DO/"
                        style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                        target="_blank">Gu which I chose.</a
                    >
                </p>
            </div>
        </blockquote>
    </div>
</section>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
