---
import Image from "astro/components/Image.astro";
const images = await Astro.glob("src/assets/images/hero-banner/*").then(
    (files) => {
        return files.map((file) => file.default);
    },
);
console.log("images");
---

<section class="relative overflow-hidden h-full">
    <div
        class="absolute -right-px top-0 z-10 h-screen w-[40%] bg-gradient-to-r from-transparent to-black to-60% hidden md:block"
    >
    </div>
    <ul class="slideshow">
        {
            images.map((image) => (
                <li>
                    <span>
                        <Image
                            width={1920}
                            class="object-cover object-[center_20%] w-full h-full"
                            src={image}
                            alt=""
                            loading="lazy"
                        />
                    </span>
                </li>
            ))
        }
    </ul>
</section>
<style>
    .slideshow li span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 50s linear infinite 0s;
    }

    .slideshow li:nth-child(1) span {
    }
    .slideshow li:nth-child(2) span {
        animation-delay: 10s;
    }
    .slideshow li:nth-child(3) span {
        animation-delay: 20s;
    }
    .slideshow li:nth-child(4) span {
        animation-delay: 30s;
    }
    .slideshow li:nth-child(5) span {
        background-position: center 20%;
        animation-delay: 40s;
    }

    @keyframes imageAnimation {
        0% {
            opacity: 0;
            transform: scale(1);
            animation-timing-function: ease-in;
        }
        8% {
            opacity: 1;
            transform: scale(1.05);
            animation-timing-function: ease-out;
        }
        17% {
            opacity: 1;
            transform: scale(1.1);
        }
        25% {
            opacity: 0;
            transform: scale(1.15);
        }
        100% {
            opacity: 0;
            transform: scale(1.2);
        }
    }
</style>
