---
// Import the SVG file
import ParrillaSvg from "@images/parrilla.svg";
import Image from "astro/components/Image.astro";
---

<section class="relative overflow-hidden h-full ">
    <!-- background glow -->
    <div
        class="absolute right-0 top-0 z-10 h-full w-[50%] bg-gradient-to-l from-secondary-500 to-transparent blur-[100px]"
        aria-hidden="true"
    >
    </div>
    
    <!-- SVG Background -->
    <div class="absolute inset-0 w-full h-full z-0">
        <Image src={ParrillaSvg} alt="Parrilla" class="w-full h-full object-cover" />
    </div>
</section>

<style>
    /* Add any additional styling for the SVG background if needed */
    .svg-background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
