---
/**
 * * These are medium cards with an icon, large colored text (title), and smaller description (text)
 * 3 or 4 cards in a row is ideal
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

// components
import FeatureCard from "@components/FeatureCardColorText.astro";

interface FeatureCardData {
  icon: string;
  title: string;
  text: string;
}

// data
// NOTE: You still need to manually update the label, title, and details that come before the cards
// those are later down in this component
const featureData: FeatureCardData[] = [
  {
    icon: "tabler/person-run",
    title: "167",
    text: `Runners`,
  },
  {
    icon: "tabler/check",
    title: "96",
    text: `10K Runners`,
  },
  {
    icon: "tabler/checks",
    title: "71",
    text: `15K Runners`,
  },
  {
    icon: "tabler/brand-twitter",
    title: "167",
    text: `Seguidores Instagram`,
  },
];
---

<section id="feature5" class="my-4 md:my-4 mx-3 md:mx-32">
  <h1 class="font-nova text-5xl text-center md:text-6xl text-black z-10 w-full md:py-5">
    Inscritos
</h1>
  <div
    id="feature5cards"
    class="mt-2 grid gap-4 xs:grid-cols-2 md:mt-4 md:grid-cols-4 text-primary-500"
  >
    {
      featureData.map((feature, idx) => (
        <FeatureCard
          title={feature.title}
          text={feature.text}
          icon={feature.icon}
          data-aos="fade-up"
          data-aos-delay={`${idx * 0.25 + 0.2}`}
          data-aos-trigger="#feature5cards"
        />
      ))
    }
  </div>
</section>
