<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/15KURRAO-icon.svg" />
		<meta
			name="description"
			content="15K URRAO 2025: Carrera en Urrao, Antioquia. 12 de octubre. Distancias de 10K y 15K con vistas al valle del Penderisco y Páramo del Sol. ¡Únete a esta experiencia deportiva!"
		/>
		<meta
			name="keywords"
			content="15K URRAO, carrera Urrao, running Colombia, running Antioquia, Páramo del Sol, valle Penderisco, deporte Urrao, kilometros, 10, 15"
		/>
		<meta
			property="og:title"
			content="15K URRAO 2025 - 12 de octubre 2025"
		/>
		<meta
			property="og:description"
			content="Carrera de 10K y 15K en Urrao. Disfruta de impresionantes paisajes del valle del Penderisco y Páramo del Sol."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://15kurrao.netlify.app/" />
		<meta
			property="og:image"
			content="https://15kurrao.netlify.app/og-image.jpg"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="generator" content={Astro.generator} />
		<title>15K URRAO 2025</title>
	</head>
	<body class="bg-white">
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	@font-face {
		font-family: "nova";
		src: url("/fonts/nova.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap; /* Ensures text is visible while the font loads */
	}

	h1 {
		font-family: "nova", sans-serif;
	}
</style>
